<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">   
</head>
<body>
	<!-- /container start-->
     <div class="container" id="login-container">
      	<form class="form-signin form-horizontal">
	        <img src="/images/login-logo.png" alt="" />
	        <div class="form-group">
	        	<label for="" class="glyphicon glyphicon-envelope col-md-1"></label>
	        	<div class="col-md-11">
	        		<input type="text" id="UserName" class="form-control np_form_check" placeholder="请输入账号" np_require="true">	
	        		<span class="help-block"></span>
	        	</div>
	        </div>
	        <div class="form-group">
	        	<label for="" class="glyphicon glyphicon-lock col-md-1"></label>
	        	<div class="col-md-11">
	        		<input type="password" id="UserPassword" class="form-control np_form_check" placeholder="请输入密码" np_require="true">	
	        		<span class="help-block"></span> 		
	        	</div>
	        </div>	                
	        <button class="btn btn-lg btn-block" id="btnRegist" type="button">登录</button>
      	</form>
    </div>     	
    <!-- /container end-->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/constants.js"></script>
    <script src="/javascripts/operation.js"></script>    
    <script src="/javascripts/formcheck.js"></script>     
</body>
</html>