	<h4 style="margin: 0;">修改密码</h4>	
	<hr style="margin-top: 5px;"/>	
	<div class="serviceconBox">
		<div class="searchpartcon editcompany">
			<div class='stepcommon'>
        		<div class="form-group form-inline form-password1">
					<label class="" for=""><span>*</span>新密码：</label>
		        	<input type="password" value="" id="password1" placeholder="请输入新密码" autocomplete="off" class="input_zhmm form-control" />
		        	<span class="p_password_tishi help-block" id="password_tishi_1"></span>
		    	</div>
		    	<div class="form-group form-inline  form-password2">
					<label class="" for=""><span>*</span>再次输入密码：</label>
	        		<input type="password"  value="" id="password2" placeholder="再次输入密码" autocomplete="off" class="input_zhmm form-control" />
	        		<span class="p_password_tishi help-block" id="password_tishi_2"></span>
	    		</div>
		        <div class="save-company">
		          	<a href="javascript:void(0);" type="button" id="tijiao" class="btn">确定</a>
		        </div>
        	</div>
        	<!--修改成功-->
        	<div class="changeok">
        		<span><i class="glyphicon glyphicon-ok"></i>修改成功</span>
        	</div>
		</div>			 	
	</div>
	<style type="text/css">
		.stepcommon {
			width: 460px;			
		}
		.changeok {
			display: none;
			height: 50px;
			font-size: 36px;
			color: #555;
			margin: 20px 0;
		}
		.changeok span {
			height: 50px;
		}
		.changeok i {
			margin-right: 10px;
			color: green;
		}
	</style>	
	
