{{ if data.education_list!="" }}
{{each data.education_list as education_list}}

	<div class="servicelistcon">
		<a href="JavaScript:void(0);" class="list_delate">删除</a>
 		<div class="form-group form-inline">
			<label for=""><span></span>学校名称：</label>
            <input  class="form-control" type="text" name="education_list.school_name" placeholder='请输入学校名称'  autocomplete="off" value="{{education_list['school_name']}}"/>              
        </div>
        <div class="form-group form-inline">
        	<label for=""><span>*</span>学历：</label>
			<select class="form-control" {{ if !education_list.education||education_list.education=="" }}style="color:#a9a9a9;"{{/if}}>
	    		<option value='' disabled {{ if !education_list.education||education_list.education=="" }}selected{{/if}}>请选择学历</option>
			  	<option value='博士' {{ if education_list.education=="博士" }}selected{{/if}}>博士</option>
			  	<option value='研究生' {{ if education_list.education=="研究生" }}selected{{/if}}>研究生</option>
			  	<option value='MBA' {{ if education_list.education=="MBA" }}selected{{/if}}>MBA</option>						  	
			  	<option value='本科' {{ if education_list.education=="本科" }}selected{{/if}}>本科</option>	
			  	<option value='大专' {{ if education_list.education=="大专" }}selected{{/if}}>大专</option>
				<option value='大学' {{ if education_list.education=="大学" }}selected{{/if}}>大学</option>
				<option value='高中' {{ if education_list.education=="高中" }}selected{{/if}}>高中</option>	
				<option value='中专' {{ if education_list.education=="中专" }}selected{{/if}}>中专</option>	
				<option value='技校' {{ if education_list.education=="技校" }}selected{{/if}}>技校</option>	
				<option value='中技' {{ if education_list.education=="中技" }}selected{{/if}}>中技</option>	
				<option value='初中' {{ if education_list.education=="初中" }}selected{{/if}}>初中</option>	
				<option value='小学' {{ if education_list.education=="小学" }}selected{{/if}}>>小学</option>
			</select>			
			<input  type="hidden" name="education_list.education" class="input_hide np_form_check"   value="{{education_list['education']}}"  np_require="true" placeholder="请选择学历"/>
          	<span class="help-block" id="education"></span>
		</div>  
 		<div class="form-group form-inline">
 			<label for=""><span></span>学位：</label>
			<select class="form-control" {{if !education_list.advanced_degree||education_list.advanced_degree==''}}style="color:#a9a9a9;"{{/if}}>
		    	<option value='' disabled {{if !education_list.advanced_degree||education_list.advanced_degree==''}}selected{{/if}}>请选择学位</option>
			  	<option value="博士" {{if education_list.advanced_degree=='博士'}}selected{{/if}}>博士</option>
                <option value="硕士" {{if education_list.advanced_degree=='硕士'}}selected{{/if}}>硕士</option>
                <option value="学士" {{if education_list.advanced_degree=='学士'}}selected{{/if}}>学士</option>
			</select>
			<input id="" type="hidden" name="education_list.advanced_degree"  class="input_hide" value="{{education_list['advanced_degree']}}"/>
		</div>
 		<div class="form-group form-inline">
 			<label for=""><span></span>专业：</label>
			<input  class="form-control" type="text" name="education_list.speciality" placeholder='请输入专业' autocomplete="off" value="{{education_list['speciality']}}"/>              
		</div>  
 		<div class="form-group form-inline">
 			<label for=""><span></span>教育时间：</label>
          	<div class="salary_divbox">
				<div class="salary_div"><input type="text" name="education_list.start_date" autocomplete="off" class="form-control form_date" value="{{education_list['start_date']}}" placeholder="开始时间"/></div>
              	<div class="salary_text" {{if education_list.end_date!=""}}style="display: none;"{{/if}}>至</div>
              	<div class="salary_div" {{if education_list.end_date!=""}}style="display: none;"{{/if}}><input type="text" name="education_list.end_date" autocomplete="off" id="" class="form-control form_date" value="{{education_list['end_date']}}" placeholder="截止时间"/></div>
              	<div class="time_now"><input type="checkbox" value="" {{if education_list.end_date=="" }}checked="checked"{{/if}}/>至今</div>
			</div>		
    	</div>  
 		<div class="form-group form-inline">
 			<label for=""><span></span>留学经历：</label>
              	<input   class="form-control" type="text" name="education_list.liuxue" placeholder='请输入留学经历'   autocomplete="off" value="{{education_list['liuxue']}}"/>              
        	</div>  
		<div class="form-group form-inline form-group100">
			<label for=""><span></span>详细介绍：</label>
			<textarea class="form-control" name="education_list.summary" rows="8" cols="5" placeholder='请输入详细介绍' id="" value="{{education_list['summary']}}">{{education_list['summary']}}</textarea>
		</div>  
</div>
	{{/each}}
{{/if}}