<div class="servicelistcon">
	<a href="JavaScript:void(0);" class="list_delate">删除</a>
	<div class="form-group form-inline">
		<label for=""><span></span>项目名称：</label>
        <input  type="text" class="form-control" name="project_list.project_name" placeholder='请输入项目名称'  autocomplete="off" value=""/>              
    </div>
    <div class="form-group form-inline">
    	<label for=""><span>*</span>担任职务：</label>
        <input  class="form-control" type="text" name="project_list.position" placeholder='请输入担任职务'  autocomplete="off" value=""/>              
      	<span id="" class='help-block'></span>
	</div>			 			
	<div class="form-group form-inline">
		<label for=""><span></span>项目时间：</label>
      	<div class="salary_divbox">
			<div class="salary_div"><input type="text" name="project_list.start_date" autocomplete="off" class="form-control form_date" value="" placeholder="开始时间"/></div>
          	<div class="salary_text">至</div>
          	<div class="salary_div"><input type="text" name="project_list.end_date" autocomplete="off" id="" class="form-control form_date" value="" placeholder="截止时间"/></div>
          	<div class="time_now"><input type="checkbox" value=""/>至今</div>
		</div>		
	</div>
	<div class="form-group form-inline form-group100">
		<label for=""><span></span>项目描述：</label>
		<textarea class="form-control" name="project_list.description" rows="8" cols="5" placeholder='请输入项目描述' id="" value=""></textarea>
	</div>
	<div class="form-group form-inline form-group100">
		<label for=""><span></span>项目职责：</label>
		<textarea class="form-control" name="project_list.responsiblity" rows="8" cols="5" placeholder='请输入项目职责' id="" value=""></textarea>
	</div>
</div>
 
